* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --text-color: #555;
    --text-color-2: #8a8a8a;
    --highlight-color: #0492c2;
    --dark-highlight-color: #563434;
    --bg-color: #ffd6d6;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: var(--highlight-color);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5;
}

.btn:hover {
    background: var(--dark-highlight-color);
}

.header {
    background: radial-gradient(#0492c2, var(--bg-color));
}

.header .row {
    margin-top: 70px;
}

/* ----- media query for less than 600 screen size ---------- */

@media only screen and (max-width:800px) {
    .row {
        align-items: center;
    }
    .col-2{
        flex-basis: 100%;

}